body {
    padding-top: 56px;
    background: #a3a3a3;
}

ul.linkList {
    list-style-type: none;
    padding: 0;   
}

.withSeparator {
    border-left: 1px solid #A3a3a3;
    padding-left: 25px;
}

  