{% extends "main.html" %}
{% block content %}
<div class="row">
  {% include "categories.html" %}
  <div class="col-lg-8 col-md-8 withSeparator">
    <h1>{{ selected_category.name }} ({{items|length}} items)</h1>
    {% if items == [] %}
    <p>There are no items yet</p>
    {% else %}
    <ul class="linkList">
      {% for item in items %}
      <li><a href="{{ url_for('showItemDetail', category = item.category.name, item = item.title) }}" class="text-danger">{{ item.title }}</a> <span class="categoryLegend">({{ item.category.name }})</span></li>
    {% endfor %}
    </ul>
    {% endif %}
  </div>
</div>
{% endblock %}