{% extends "main.html" %}
{% block content %}
<div class="row">
  {% include "categories.html" %}  
  <div class="col-lg-8 col-md-8 withSeparator">
    {%if 'username' in session %}
    <a href="{{ url_for('newItem')}}" class="text-danger">Add item</a>
    {% endif %}
    <h1>Latest Items</h1>
    {% if items == [] %}
    <p>There are no items yet</p>
    {% else %}
    <ul class="linkList">
      {% for item in items %}
      <li><a href="/catalog/pepe/stick" class="text-danger">{{ item.title }}</a> <span class="categoryLegend">({{ item.category.name }})</span></li>
    {% endfor %}
    </ul>
    {% endif %}
  </div>
</div>
{% endblock %}