{% extends "main.html" %}
{% block content %}
<div class="row">
  <div class="col-lg-4 col-md-4">
    <h1>Categories</h1>
    <ul class="linkList">
      <li><a href="/catalog/pepe/items">Soccer</a></li>
      <li>Basketball</li>
      <li>Baseball</li>
      <li>Frisbee</li>
      <li>Snowboarding</li>
      <li>Rock Climbing</li>
      <li>Foosball</li>
      <li>Skating</li>
      <li>Hockey</li>
    </ul>
  </div>
  <div class="col-lg-8 col-md-8">
      <a href="{{ url_for('newItem')}}" class="btn btn-primary">Add item</a>
    <h1>Latest Items</h1>
    <ul class="linkList">
      <li><a href="/catalog/pepe/stick">Stick</a> (Hockey)</li>
    </ul>
  </div>


</div>
{% endblock %}